h1 {
    font-size: 2rem;
}

h1, h2, p, span, label, input {
    font-family: sans-serif;
}

input.large {
    width:68.4%;
}
input.medium {
    width:40%;
}
input.small {
    width:30%;
}
div {
    margin: 0.4rem 0;
}

input {
    height: 1.3rem;
    vertical-align:middle;
}
input[type=radio] {
    margin-bottom: 0.25rem;
    margin-right: 1.5rem;
}
input.option {
    margin: 0 0.6rem 0.1rem 0.1rem
}
textarea {
    width: 68.4%;
}
input, textarea {
    padding: 0.2rem;
}
article {
    max-width: 800px;
    margin: auto;
}
section {
    margin: 0.4rem 0 3rem 0;
}
label.main {
    width: 20%;
    display: inline-block;
    padding: 0.2rem;
    min-width: 6rem;
}
label.top {
    vertical-align: top;
}
span {
    display:inline-block;
    margin-top:0.4rem;
    padding: 0.2rem;
}

img {
    text-align:center;
    margin:auto;
    width:100%;
}

.button {
    font-size: 100%;
    padding: .5rem 1rem;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    background-color: #e6e6e68c;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    margin: 0.2rem 0;
}

#fileupload {
    padding: 0.45rem 1rem;
}
