<!doctype html>
<html>
    <head>
        <title>{{ album['title'] }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">

    </head>

    <body>
        <header>
            <h1>{{ album['title'] }}</h1>

            <article>
                <p>{{ msg }}</p>
            </article>
        </header>

        <main>
            <form id="album" enctype="multipart/form-data" method="post">
                <article>
                    <h2>Album Info</h2>

                    <section>
                        <div>
                            <label class="main" for="title">Album Title:</label>
                            <input id="title" class="large" name="title" value="{{ album['title'] }}" type="text" required/>
                        </div>

                        <div>
                            <label class="main" for="description">Description:</label>
                            <textarea id="description" name="description" rows="5" cols="33">{{ album['description'] }}</textarea>
                        </div>

                        <div>
                            <label class="main" for="gallery">Gallery:</label>
                            <input list="gallery" class="large" name="gallery" value="{{ album['galleries'][1] }}" required/>

                            <datalist id="gallery">
                    		{% for gallery in galleries: %}
                                  <option value="{{ gallery['url'] }}">
                    		{% endfor %}
			    </datalist>
                        </div>

                        <div>
                            <label class="main" for="url">URL:</label>
                            <span>/{{ album['url'] }}</span>
                        </div>

                        <div>
                            <label class="main" for="public">Public:</label>
                            <label for="public-true">Yes</label>
                            <input type="radio" id="public-true" name="public" value="true" {{ "checked" if album['public'] else "" }}>
                            <label for="public-false">No</label>
                            <input type="radio" id="public-false" name="public" value="false" {{ "" if album['public'] else "checked" }}>
                        </div>
                    </section>
                    


                    <h2>Images</h2>
                    {% for idx, image in album['images']: %}
                    <section>
                        <img src="http://www.ifany.org/photos/{{ album['url'] }}/{{ image['file'] }}_800x600.jpg">

                        <div>
                            <label class="main" for="description-{{ image['file'] }}">Description:</label>
                            <input id="description-{{ image['file'] }}" name="description-{{ image['file'] }}" value="{{ image['description'] }}" type="text" class="large"/>
                        </div>

                        <div>
                            <label class="main" for="order-{{ image['file'] }}">Index:</label>
                            <input type="text" id="order-{{ image['file'] }}" class="small" name="order-{{ image['file'] }}" value="{{idx}}.0" />
                        </div>

                        <div>
                            <label class="main" for="banner-{{ image['file'] }}">Banner:</label>
                            <label for="banner-true-{{ image['file'] }}">Yes</label>
                            <input type="radio" id="banner-true-{{ image['file'] }}" name="banner-{{ image['file'] }}" value="true" {{ "checked=checked" if image['banner'] else "" }}>
                            <label for="banner-false-{{ image['file'] }}">No</label>
                            <input type="radio" id="banner-false-{{ image['file'] }}" name="banner-{{ image['file'] }}" value="false" {{ "" if image['banner'] else "checked=checked" }}>
                        </div>

                        <div>
                            <label class="main" for="cover-{{ image['file'] }}">Cover:</label>
                            <label for="cover-true-{{ image['file'] }}">Yes</label>
                            <input type="radio" id="cover-true-{{ image['file'] }}" name="cover-{{ image['file'] }}" value="true" {{ "checked=checked" if image['cover'] else "" }}>
                            <label for="cover-false-{{ image['file'] }}">No</label>
                            <input type="radio" id="cover-false-{{ image['file'] }}" name="cover-{{ image['file'] }}" value="false" {{ "" if image['cover'] else "checked=checked" }}>
                        </div>

                        <div>
                            <label class="main" for="datetime-{{ image['file'] }}">Date & Time: </label>
                            <input id="datetime-{{ image['file'] }}" class="medium" name="datetime-{{ image['file'] }}" value="{{ image['datetime'] }}" type="text" required/>
                        </div>

                        <div>
                            <label class="main" for="published-{{ image['file'] }}">Published:</label>
                            <label for="published-{{ image['file'] }}">Yes</label>
                            <input type="radio" id="published-true-{{ image['file'] }}" name="published-{{ image['file'] }}" value="true" {{ "checked=checked" if image['published'] else "" }}>
                            <label for="published-{{ image['file'] }}">No</label>
                            <input type="radio" id="published-false-{{ image['file'] }}" name="published-{{ image['file'] }}" value="false" {{ "" if image['published'] else "checked=checked" }}>
                        </div>

                        <div>
                            <label class="main" for="sized-{{ image['file'] }}">Size:</label>
                            <span>{{ image['size'] }}</span>
                        </div>

                        <input type="hidden" id="size-{{ image['file'] }}" name="size-{{ image['file'] }}" value="{{ image['size'] }}"/>
                        <input id="images-names" name="images[]" type="hidden" value="{{ image['file'] }}" />

                    </section>
                    {% endfor %}

                    <section>
                        <h2>Upload Images</h2>
                        <input id="fileupload" name="new-images" type="file" multiple/>
                    </section>
                    <section>
                        <button type="submit" id="submit" formaction="/album/{{ album['url'] }}">Save</button>
                        <button type="submit" id="reorder" formaction="/album/{{ album['url'] }}/order_by_date">Order By Date</button>
                    </section>
                </article>
            </form>
        </main>
    </body>
</html>
