<!doctype html>
<html>
    <head>
        <title>{{ album['title'] }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">

    </head>

    <body>
        <header>

            <article>
            	<h1>{{ album['title'] }}</h1>
                <p>{{ msg }}</p>
            </article>
        </header>

        <main>
            <form id="album" enctype="multipart/form-data" method="post">
                <article>

		    <h2>Album Actions</h2>
                    <section>
			<input class="button" id="fileupload" name="new-media" type="file" multiple/>
			<button class="button" type="submit" id="upload" formaction="/album/{{ album['url'] }}/upload">Upload Images</button><br>
                        <button class="button" type="submit" id="save" formaction="/album/{{ album['url'] }}/save">Save Album</button>
			<button class="button" type="submit" id="reorder" formaction="/album/{{ album['url'] }}/reorder">Order Images by Date</button>
                    </section>

                    <h2>Album Info</h2>
                    <section>
                        <div>
                            <label class="main" for="title">Album Title:</label>
                            <input id="title" class="large" name="title" value="{{ album['title'] }}" type="text" required/>
                        </div>

                        <div>
                            <label class="main top" for="description">Description:</label>
                            <textarea name="description" rows="5" cols="33">{{ album['description'] }}</textarea>
                        </div>

                        <div>
			    <label class="main" for="gallery">Gallery:</label>
                            <input list="gallery-items" class="large" name="gallery" id="gallery" value="{{ album['galleries'][1] }}" required/>

                            <datalist id="gallery-items">
                    		{% for gallery in galleries: %}
                                  <option value="{{ gallery['url'] }}">
                    		{% endfor %}
			    </datalist>
                        </div>

                        <div>
                            <label class="main" for="url">URL:</label>
                            <span>/{{ album['url'] }}</span>
                        </div>

                        <div>
			    <label class="main" for="public">Public:</label>
			    <input type="checkbox" name="public" id="public" value="true" {{ "checked" if album['public'] else "" }}>
                        </div>
                    </section>
                    

                    <h2>Images</h2>
                    {% for idx, image in album['images']: %}

                        <section>
                            {% if image.is_video %}

                                <video controls><source src="http://www.ifany.org/photos/{{ album['url'] }}/{{ image['file'] }}.mp4" type="video/mp4"></video>
        
                            {% else %}
    
                                <img src="http://www.ifany.org/photos/{{ album['url'] }}/{{ image['file'] }}_800x600.jpg">

                            {% endif %}
        
                            <div>
                                <label class="main" for="description-{{ image['file'] }}">Description:</label>
                                <input id="description-{{ image['file'] }}" name="description-{{ image['file'] }}" value="{{ image['description'] }}" type="text" class="large"/>
                            </div>
        
                            <div>
                                <label class="main" for="datetime-{{ image['file'] }}">Date & Time: </label>
                                <input class="medium" id="datetime-{{ image['file'] }}" name="datetime-{{ image['file'] }}" value="{{ image['datetime'] }}" type="text" required/>
                            </div>
        
        
                            <div>
        		        <label class="main">Options:</label>
        
                                <label for="banner-{{ image['file'] }}">Banner:</label>
        		        <input class="option" type="checkbox" id="banner-{{ image['file'] }}" name="banner-{{ image['file'] }}" value="true" {{ "checked" if image['banner'] else "" }}>
        
                                <label for="cover-{{ image['file'] }}">Cover:</label>
        		        <input class="option" type="checkbox" id="cover-{{ image['file'] }}" name="cover-{{ image['file'] }}" value="true" {{ "checked" if image['cover'] else "" }}>
        
                                <label for="published-{{ image['file'] }}">Published:</label>
        		        <input class="option" type="checkbox" id="published-{{ image['file'] }}" name="published-{{ image['file'] }}" value="true" {{ "checked" if image['published'] else "" }}>
                            </div>
        
                            <div>
        		        <button class="button" type="submit" id="remove-image" formaction="/album/{{ album['url'] }}/remove/{{ image['file'] }}">Remove</button>
				            {% if image.is_video %}
				                <span>{{ image['file'] }}.mp4 ({{ image['size'] }})</span><br>
                            {% else %}
				                <span>{{ image['file'] }}.jpg ({{ image['size'] }})</span><br>
                            {% endif %}
                            </div>
        
                            <input type="hidden" class="small" id="order-{{ image['file'] }}" name="order-{{ image['file'] }}" value="{{idx}}.0">
                            <input type="hidden" id="size-{{ image['file'] }}" name="size-{{ image['file'] }}" value="{{ image['size'] }}">
                            <input type="hidden" id="is_video-{{ image['file'] }}" name="is_video-{{ image['file'] }}" value="{{ image['is_video'] }}">
                            <input id="images-names" name="images[]" type="hidden" value="{{ image['file'] }}">
        
                        </section>

                    {% endfor %}

                    <section>
                        <button class="button" type="submit" id="save" formaction="/album/{{ album['url'] }}/save">Save Album</button>
			<button class="button" type="submit" id="reorder" formaction="/album/{{ album['url'] }}/reorder">Order Images by Date</button>
                    </section>
                </article>
            </form>
        </main>
    </body>
</html>
